h1 {
    font-weight: normal;
}

.card {
    width: auto;
    border: 2px solid black;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
}

.card:hover img{
    transform: scale(1.15, 1.15);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.card img{
    transform: scale(1, 1);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.prop-image {
    height: 270px;
    width: auto;
    object-fit: cover;
}

.house-default { 
    padding-left: 25px; 
}

.price {
    color: #5EB94E;
}
