.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    min-height: 600px;
    background-color: white;
  }

  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }