<div class="row shadow wrapper">
  <div class="col-sm-4 p-0">
      <div class="card">
          <div class="card-img-wrapper">
              <img *ngIf="property.Image" class="card-img-top image" src="assets/images/{{property.Image}}.jpg">
              <img *ngIf="!property.Image" class="card-img-top image" src="assets/images/house_default.jpg">
          </div>
          <div class="card-body">
              <h1 class="card-title card-info">{{property.Name}}</h1>
              <div class="card-info">
                  <strong>{{property.BHK}} BHK, {{property.PType}}, {{property.Price}}$</strong>
              </div>
              <div class="card-info">
                  <strong>in {{property.City}}</strong>
              </div>
              <hr>
              <div class="card-info">
                  <strong class="space">Build Area: </strong>
                  {{property.BuiltArea}} square meters
              </div>
              <div class="card-info">
                <strong class="space">Carpet Area: </strong>
                {{ property.CarpetArea ? property.CarpetArea + ' square meters' : '-' }}                
              </div>
              <div class="card-info">
                  <strong class="space">Furnishing Type: </strong>
                  <div *ngIf="property.FType !== 'Unfurnished'">{{property.FType}}-furnished</div>
                  <div *ngIf="property.FType == 'Unfurnished'">Unfurnished</div>
              </div>
          </div>

          <div class="card-footer">
              <div class="btn-group d-flex">
                  <!-- <button class="btn btn-primary btn-item">Like</button>
                  <button class="btn btn-success">Message</button> -->
                  <label class="btn btn-outline-primary radio custom-radio-button btn-item" btnRadio=1 role="button" tabindex="0">Like</label>
                  <label class="btn btn-outline-primary custom-radio-button" btnRadio=2 role="button" tabindex="0">Message</label>
              </div>
          </div>
      </div>
  </div>

  <div class="col-sm-8 p-0">
      <div class="tab-panel p-3">
          <tabset class="member-tabset">
              <tab heading="Overview" customClass="customClass">
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading mb-4">
                      <strong>Landmark</strong>
                      <p>{{ property.Address2 ? property.Address2 : '-' }}</p>
                  </div>

                  <div class="heading mb-4">
                      <strong>Floor Number</strong>
                      <p>{{ property.FloorNo ? property.FloorNo : '-' }}</p>
                  </div>

                  <div class="heading mb-4">
                      <strong>Age of Property</strong>
                      <p>{{ property.AOP ? property.AOP : '-' }}</p>
                  </div>

                  <div class="heading mb-4">
                    <strong>Available from</strong>

                    <p *ngIf="property.ReadyToMove == 1">Ready to move</p>
                    <p *ngIf="property.ReadyToMove == 2">
                      {{ property.Possession ? (property.Possession | date:'dd-MM-yyyy') : '-' }}
                    </p>
                    <p *ngIf="property.ReadyToMove != 1 && property.ReadyToMove != 2">-</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading mb-4">
                      <strong>Main Entrance</strong>
                      <p>
                        {{ 
                          property.MainEntrance == 1 ? 'East' :
                          property.MainEntrance == 2 ? 'West' :
                          property.MainEntrance == 3 ? 'South' :
                          property.MainEntrance == 4 ? 'North' : '-'
                        }}
                      </p>
                  </div>

                  <div class="heading mb-4">
                      <strong>Gated Community</strong>
                      <p>{{ property.Gated ? property.Gated : '-' }}</p>
                  </div>

                  <div class="heading mb-4">
                      <strong>Security Deposit</strong>
                      <p>{{ property.Security ? property.Security : '-' }}</p>
                  </div>
                  <div class="heading mb-4">
                      <strong>Maintenance</strong>
                      <p>{{ property.Maintenance ? property.Maintenance : '-' }}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading mb-4">
                      <strong>About Property</strong>
                      <p>{{ property.Description ? property.Description : '-' }}</p>
                  </div>
              </div>
            </div>
              </tab>

              <tab heading="Address" customClass="customClass">
                <div class="col-sm-12">
                  <div class="heading">
                      Address: <strong>{{property.City}}, {{property.Address}}</strong>
                  </div>
                  </div>
              </tab>

              <tab heading="Photos" customClass="customClass">
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
              </tab>

              <tab heading="Contact info" customClass="customClass">
                  <h1>Contact Detail</h1>
                  This should be restricted area and only registered user should be able to see seller contact details
              </tab>
          </tabset>
      </div>
  </div>
</div>
