.name,
.type,
.price {
    margin-top: 4px;
    margin-bottom: 4px;
}

.next-btn {
    margin-top: 1rem;
    width: 100%;
}

.hdr {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

