<div class="row mb-5">
  <div class="col-8">
<div class="card">
  <div class="card-header">
    <h3>List your property</h3>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
      <div class="tab-panel">
        <tabset class="members-tabset" #formTabs>
          <tab heading="Basic Info" customClass="customClass" formGroupName="BasicInfo"> 
         
              <div class="form-group col-12" >
                <p class="mt-2 mb-2">I want to</p>
                <div class="btn-group" btnRadioGroup formControlName="SellRent">
                  <label class="btn btn-outline-primary radio custom-radio-button " btnRadio=1 role="button" tabindex="0" name="SellRent">Sell</label>
                  <label class="btn btn-outline-primary custom-radio-button" btnRadio=2 role="button" tabindex="0" name="SellRent">Rent</label>
                </div>
                <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                  Please choose Sell or Rent
                </div>
              </div>

              <div class="form-group col-12" >
                <p class="mb-2 mt-4">Bedroom, Hall and Kitchen</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="BHK"
                  [(ngModel)]="propertyView.BHK" name="BHK">
                    <label 
                    *ngFor="let bhk of [1,2,3,4]" 
                    class="btn btn-outline-primary mr-2 radio custom-radio-button" 
                    [btnRadio]="bhk" tabindex="0" role="button" name="BHK">{{bhk}}</label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    Please select BHK
                  </div>
              </div>
            
              <div class="form-group col-12" >
                <p class="mb-2 mt-4">Property type</p>
                  <div class="btn-group" btnRadioGroup 
                  formControlName='PType'
                  [(ngModel)]="propertyView.PType">
                    <label 
                    *ngFor="let ptype of propertyTypes" 
                    class="btn btn-outline-primary mr-2 radio custom-radio-button" 
                    [btnRadio]="ptype" tabindex="0" role="button" name="PropType">{{ptype}}</label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    Please select property type
                  </div>
              </div>

              <div class="form-group col-12" >
                <p class="mb-2 mt-4">Furnishing type</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="FType"
                  [(ngModel)]="propertyView.FType">
                    <label 
                    *ngFor="let ftype of furnishTypes" 
                    class="btn btn-outline-primary mr-2 radio custom-radio-button" 
                    [btnRadio]="ftype" tabindex="0" role="button" name="FurnishType">{{ftype}}</label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    Please select furnishing type
                  </div>
              </div>

              <div class="form-group col-12" >
                <label class="name mt-4 mb-2">In building/Society/Project</label>
                <input type="text" class="form-control"
                ngModel
                formControlName="Name"
                [(ngModel)]="propertyView.Name">
                <div class="error-block"
                  *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    Please select building, society or project name
                  </div>
              </div>

              <div class="form-group col-12">
                <label class="price mb-2 mt-2">City</label>
                <input type="text" class="form-control"
                formControlName="City"
                [(ngModel)]="propertyView.City">
                <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
              </div>

              <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block next-btn"
                  (click)="selectTab(1, BasicInfo.valid)">Next</button>
              </div>
          </tab>

          <tab heading="Pricing and Area" customClass="customClass" formGroupName="PriceInfo">
              <div class="form-group col-12">
                <label *ngIf="SellRent.value == 1" class="price">Price, <em>$</em></label>
                <label *ngIf="SellRent.value == 2" class="price">Rent, <em>$</em></label>
                <input type="text" class="form-control" 
                formControlName="Price"
                [(ngModel)]="propertyView.Price">
                <div class="error-block"
                 *ngIf="Price.invalid && (nextClicked || Price.touched)">
                  Please set the
                  <span *ngIf="SellRent.value == 1; else ShowRent">price</span>
                  <ng-template #ShowRent>rent</ng-template>
                </div>
              </div>

              <div *ngIf="SellRent.value==2">
                <div class="form-group col-12">
                  <label class="mt-4 mb-2">Security, <em>$</em></label>
                  <input type="text"
                  formControlName="Security"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <label class="mt-4 mb-2">Maintenance (in USD)</label>
                  <input type="text"
                  formControlName="Maintenance"
                  class="form-control">
                </div>
              </div>

              <div class="form-group col-12">
                <label class="mt-4 mb-2">Built area, <em>square meters</em></label>
                <input type="text" class="form-control"
                [(ngModel)]="propertyView.BuiltArea" formControlName="BuiltArea">
                <div class="error-block"
                *ngIf="BuiltArea.invalid && (nextClicked || BuiltArea.touched)">
                  Please set the area
                </div>
              </div>

              <div class="form-group col-12">
                <label class="mt-4 mb-2">Carpet area, <em>square meters</em></label>
                <input type="text"
                    formControlName="CarpetArea"
                    class="form-control">
              </div>

              <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block back-btn"
                (click)="selectTab(0, PriceInfo.valid)">Back</button>

                <button type="button" class="btn btn-primary btn-block next-btn"
                (click)="selectTab(2, PriceInfo.valid)">Next</button>
              </div>
          </tab>

          <tab heading="Address" customClass="customClass" formGroupName="AddressInfo">

            <div class="form-group col-12">
              <label class="mt-1 mb-2">Floor</label>
              <input type="text"
                  formControlName="FloorNo"
                  class="form-control">
            </div>

            <div class="form-group col-12">
              <label class="mt-4 mb-2">Total Floor</label>
              <input type="text"
                  formControlName="TotalFloor"
                  class="form-control">
            </div>

            <div class="form-group col-12">
              <label class="mt-4 mb-2">Address</label>
              <input type="text"
                  class="form-control"
                  formControlName="Address">
                  <div class="error-block"
                  *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please select address
                  </div>
            </div>

            <div class="form-group col-12">
              <label class="mt-4 mb-2">Landmark</label>
              <input type="text"
                  formControlName="LandMark"
                  class="form-control">
            </div>

              <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block back-btn"
                (click)="selectTab(1, AddressInfo.valid)">Back</button>

                <button type="button" class="btn btn-primary btn-block next-btn"
                (click)="selectTab(3, AddressInfo.valid)">Next</button>
              </div>
          </tab>

          <tab heading="Other Details" customClass="customClass" formGroupName="OtherInfo">
            <div class="form-group col-12" >
              <p class="mt-2 mb-2">Ready to move</p>
              <div class="btn-group" btnRadioGroup formControlName="RTM">
                <label class="btn btn-outline-primary radio custom-radio-button" btnRadio=1 tabindex="0" role="button" name="RTM">Yes</label>
                <label class="btn btn-outline-primary custom-radio-button" btnRadio=2 tabindex="0" role="button" name="RTM">No</label>              
              </div>
              <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                Please select ready to move
              </div>
            </div>
            

            <div *ngIf="RTM.value==2" class="form-group col-6">
              <label class="mt-4 mb-2">Available from</label>
              <input type="text"
              placeholder="Select a day"
              class="form-control mb-4"
              formControlName="PossessionOn"
              bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'}">
            </div>

            <div *ngIf="RTM.value==1" class="form-group col-12">
              <label class="mt-4 mb-2">Age of property</label>
              <input type="text" class="form-control" formControlName="AOP">
            </div>

            <div class="form-group col-12" >
              <p class="mt-4 mb-2">Gated community</p>
              <div class="btn-group mb-4" btnRadioGroup formControlName="Gated">
                <label class="btn btn-outline-primary radio custom-radio-button " btnRadio=1  tabindex="0" role="button" name="Gated">Yes</label>
                <label class="btn btn-outline-primary custom-radio-button" btnRadio=2 tabindex="0" role="button" name="Gated">No</label>
              </div>
            </div>

            <div class="form-group col-12" >
              <p class="mt-2 mb-2">Main entrance</p>
              <div class="btn-group mb-4" btnRadioGroup formControlName="MainEntrance">
                <label class="btn btn-outline-primary radio custom-radio-button" btnRadio=1  role="button" tabindex="0" name="Entrance">East</label>
                <label class="btn btn-outline-primary custom-radio-button" btnRadio=2 role="button" tabindex="0" name="Entrance">West</label>
                <label class="btn btn-outline-primary radio custom-radio-button" btnRadio=3 role="button" tabindex="0" name="Entrance">South</label>
                <label class="btn btn-outline-primary custom-radio-button" btnRadio=4 role="button" tabindex="0" name="Entrance">North</label>
              </div>
            </div>

            <div class="form-group col-12">
              <label class="mt-2">Description</label>
              <textarea type="text"
                  class="form-control"
                  formControlName="Description"
                  rows="6"></textarea>
            </div>

            <div class="form-group col-12">
                <button type="button" class="btn btn-primary btn-block back-btn"
                (click)="selectTab(2, OtherInfo.valid)">Back</button>

                <button type="button" class="btn btn-primary btn-block next-btn"
                (click)="selectTab(4, OtherInfo.valid)">Next</button>
             </div>
          </tab>

          <tab heading="Photos" customClass="customClass">
            <div class="form-group col-12">
              <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br>
                  This is under construction
              </div>
            </div>
            <div class="form-group col-12">
              <button type="button" class="btn btn-primary btn-block back-btn"
              (click)="selectTab(3, true)">Back</button>
              <button type="submit" class="btn btn-primary btn-block sbm-btn">Save</button>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
  </div>
</div>
</div>
<div class="col-4">
  <div class="card-header">
  <h3 class="preview">Property preview</h3>
  <div>
    <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
  </div>
  </div>
</div>
</div>