.name,
.type,
.price {
    margin-top: 4px;
    margin-bottom: 4px;
}

.back-btn {
    margin-top: 1rem;
    width: 100%;
    background-color: #AFBFC1;
    color: black;
}

.sbm-btn {
  width: 100%;
  margin-top: 1rem;
  background-color: #14C164;
}

.next-btn {
    margin-top: 1rem;
    width: 100%;
    background-color: #14C164;
    color: black;
}

.hdr {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed #14C164;
    margin: 5px;
}
  
  .custom-radio-button {
    background-color: white;
    color: black;
    border-color: #14C164;
    margin-right: 4px;
  }
  
  .custom-radio-button.active {
    background-color: #14C164;
    color: black;
    border-color: #14C164;
  }

 .radio {
  display: flex;
  color: black;
 }

 .custom-radio-button:hover {
  background-color: #14C164;
 }
 



